{% extends 'main/auth.html' %}
{% block fields %}
    {% load static %}
    <a class="back" href="/"><img src="{% static 'images/back.png' %}" alt="back" width="30"></a>
    <p id="action">{{ username }}</p>
    <form id="form" method="post">{% csrf_token %}
        <div class="input-container"><label><input class="input" type="number" name="weight" step="1" placeholder="Вес" value="{{ info.weight }}" required></label></div>
        <div class="input-container"><label><input class="input" type="number" name="height" step="1" pattern="\d+" placeholder="Рост" value="{{ info.height }}" required></label></div>
        <h2>Твоя дневная норма: {{ info.norm }} калорий</h2>
        <button class="btn auth-btn" type="submit" value="Submit">Сохранить</button>
        {% if saved %}
            <span class="success">Данные успешно обновлены</span>
        {% endif %}
    </form>
{% endblock %}